.header {
  background: #e2e2e2;
}
main{
    background: #e2e2e2;

}
.tracking-wide {
  font-size: 32px;
  font-weight: 100;
  /* margin-bottom: 28px; */
}
.dna-main {
  padding-top: 362px;
  padding-bottom: 432px;
}
.close-button{
  cursor: pointer;
}
.dna-sub {
  font-size: 25px;
  font-weight: 100;
  line-height: 35px;
  letter-spacing: 0.01px;
  text-align: justify;
}
.dna-sub-container {
  width: 77%;
  margin: auto;
}
.text-green {
  color: #00cc61;
}
.projects-section {
  padding-top: 128px; /* py-32 */
  padding-bottom: 128px;
}
.projects-heading {
  margin-bottom: 96px; /* space before first card */
  letter-spacing: 0.3em;
}

.projects-list {
  gap: 128px; /* vertical spacing between projects */
}
.project-row {
  column-gap: 80px;
}
.project-divider {
  height: 1px;
  background-color: #d1d5db; /* gray-300 */
}
.project-location {
  margin-top: 4px;
  margin-bottom: 24px;
}
.div-one-projects,
.div-two-projects,
.div-three-projects {
  justify-content: space-between;
  align-items: center;
}

.div-one-projects {
  font-size: 14px;
  color: #3f3f3f;
}
.div-three-projects {
  font-size: 18px;
  color: #3f3f3f;
}
.div-two-projects {
  position: relative;
  margin-left: -5px;
  margin-right: -5px;
  z-index: 100;
  width: 102%;
}
.horizontal-black {
  margin-top: 3px;
}
.footer-main {
  padding: 108px 85px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.footer-logo {
  margin-bottom: 60px;
}
.contact-info {
  font-size: 13px;
  margin-bottom: 33px;
  color: #ffffff;
}
.address-info {
  font-size: 13px;
  color: #ffffff;
}
.services-heading {
  font-size: 17px;
  margin-bottom: 22px;
}
.services-sub-heading {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 22px;
  font-size: 14px;
}
.logo-container {
  margin-top: 21px;
  display: flex;
  gap: 23px;
}
@media (max-width: 991px) {
  .tracking-wide {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
  }
  .main-hero {
    height: 40vh;
  }
  .tracking-wide-main {
    padding-top: 0;
    width: 100%;
  }
  .header-sub {
    margin-bottom: 30vh;
  }
  .project-divider {
    display: none;
  }
  .dna-sub {
    letter-spacing: -0.99px;
  }
  .dna-main {
    padding-top: 247px;
    padding-bottom: 301px;
  }
  .our-projects {
    margin-bottom: 33px;
  }
  .our-projects-main {
    padding: 0 20px;
  }
  .our-projects-container {
    padding: 0 20px;
  }
  .our-projects{
    font-size: 18px;
  }
  .menu-icon{
    width:22px;
    height:22px
  }
  .logo{
    width:48px;
        height:20px

  }
}
